/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

a {
    color: var(--color-primary11);
}

.anchor--action {
    display: inline-block;
    padding: 0.5rem 1.75rem;

    line-height: 1.5;
    text-decoration: none;

    background-color: var(--color-primary3);
    border: 0.25rem solid currentcolor;
    border-radius: 0.5rem;

    transition: background-color 0.2s ease-in-out;
}

.anchor--action:hover,
.anchor--action:focus {
    background-color: var(--color-primary4);
}
