/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.badge {
    display: inline-block;
    min-width: 3rem;
    padding: 0.75rem 1.5rem;

    text-align: center;
    white-space: nowrap;

    border-radius: 2.5rem;
}

.badge--block {
    display: block;
}

.badge--bold {
    font-weight: bold;
}

.badge--smaller {
    padding: 0.25rem 0.5rem;

    font-size: 0.8em;
}

.badge--small {
    padding: 0.25rem 0.75rem;

    font-size: 0.9em;
}

.badge--blue {
    color: var(--color-info12);

    background-color: var(--color-info5);
}

.badge--green {
    color: var(--color-success12);

    background-color: var(--color-success5);
}

.badge--grey {
    color: var(--color-grey12);

    background-color: var(--color-grey5);
}

.badge--orange {
    color: var(--color-warning12);

    background-color: var(--color-warning5);
}

.badge--red {
    color: var(--color-error12);

    background-color: var(--color-error5);
}
