/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.badge {
    display: inline-block;
    padding: var(--space-smaller) var(--space-small);

    font-size: var(--font-size-small);
    text-align: center;
    white-space: nowrap;

    border-radius: var(--border-radius);
}

.badge--block {
    display: block;
}

.badge--bold {
    font-weight: bold;
}

.badge--big {
    padding: var(--space-small) var(--space-medium);

    font-size: var(--font-size-normal);
}

.badge--small {
    padding: 0 var(--space-small);

    font-size: var(--font-size-smaller);
}

.badge--border {
    border: var(--border-width) solid currentcolor;
}

.badge--primary {
    color: var(--color-primary1);

    background-color: var(--color-primary9);
}

.badge--blue {
    color: var(--color-info12);

    background-color: var(--color-info5);
}

.badge--green {
    color: var(--color-success12);

    background-color: var(--color-success5);
}

.badge--grey {
    color: var(--color-grey12);

    background-color: var(--color-grey5);
}

.badge--orange {
    color: var(--color-warning12);

    background-color: var(--color-warning5);
}

.badge--red {
    color: var(--color-error12);

    background-color: var(--color-error6);
}
