/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.breadcrumb__list {
    padding-left: 0;

    text-align: center;

    list-style: none;
}

.breadcrumb__item {
    display: inline-block;
}

.breadcrumb__item:not(:last-child)::after {
    content: "";

    display: inline-block;
    height: 2rem;
    margin-right: 0.75rem;
    margin-bottom: -0.3rem;
    margin-left: 0.75rem;

    border-right: 0.25rem solid var(--color-grey11);

    transform: rotate(25deg);
}

.breadcrumb__item--active {
    font-weight: bold;
}

.breadcrumb__item:not(.breadcrumb__item--active) {
    color: var(--color-grey11);
}

.breadcrumb__anchor {
    text-decoration: none;
}
