/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

button,
.button {
    --button-padding: var(--space-small) var(--space-medium);
    --button-background-color: var(--color-primary12);
    --button-color: var(--color-primary1);

    display: inline-block;
    padding: var(--button-padding);

    color: var(--button-color);
    font-family: inherit;
    font-size: var(--font-size-normal);
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;

    background-color: var(--button-background-color);
    border: none;
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

    cursor: pointer;
}

button:not([disabled]):hover,
.button:not([aria-disabled]):hover {
    --button-background-color: var(--color-primary11);
}

button:not([disabled]):active,
.button:not([aria-disabled]):active {
    --button-background-color: var(--color-primary12);
}

button[disabled],
.button[aria-disabled] {
    --button-color: var(--color-primary3);

    outline: none;

    cursor: not-allowed;
    pointer-events: none;
}

.button--primary {
    --button-padding: var(--space-small) var(--space-large);
    --button-background-color: var(--color-primary9);
}

.button--primary:not([disabled]):hover,
.button--primary:not([aria-disabled]):hover {
    --button-background-color: var(--color-primary10);
}

.button--primary:not([disabled]):active,
.button--primary:not([aria-disabled]):active {
    --button-background-color: var(--color-primary12);
}

.button--anchor {
    --button-padding: 0;
    --button-background-color: transparent;
    --button-color: var(--color-primary9);

    background-image: none;
    box-shadow: none;
    border-radius: 0;
}

.button--anchor[disabled],
.button--anchor[aria-disabled] {
    --button-color: var(--color-primary8);
}

.button--anchor:not([disabled]):hover,
.button--anchor:not([aria-disabled]):hover,
.button--anchor:not([disabled]):focus,
.button--anchor:not([aria-disabled]):focus,
.button--anchor:not([disabled]):active,
.button--anchor:not([aria-disabled]):active {
    --button-background-color: transparent;
}

.button--discreet {
    --button-padding: var(--space-smaller) var(--space-small);
    --button-background-color: transparent;
    --button-color: var(--color-grey11);

    font-weight: normal;

    border: 1px solid currentcolor;
}

.button--discreet:not([disabled]):hover,
.button--discreet:not([aria-disabled]):hover,
.button--discreet:not([disabled]):focus,
.button--discreet:not([aria-disabled]):focus,
.button--discreet:not([disabled]):active,
.button--discreet:not([aria-disabled]):active {
    --button-background-color: var(--color-grey4);
}

.button--icon {
    --button-padding: var(--space-small);

    aspect-ratio: 1 / 1;

    line-height: 1.2;

    border-radius: 5rem;
}

.button--icon .icon {
    margin-top: 0;
}

.button--icon .icon--eye,
.button--icon .icon--eye-slash {
    margin-top: 0.1em;
}

.button--uppercase {
    text-transform: uppercase;
}

.button--animated-icon:not([disabled]) .icon {
    transition: transform 0.2s ease-in-out;
}

.button--animated-icon:not([disabled]):hover .icon,
.button--animated-icon:not([disabled]):focus .icon {
    transform: translateX(5px);
}

.button__caption {
    display: block;
    margin-bottom: -0.2rem;

    color: var(--color-grey10);
    font-size: var(--font-size-small);
}

.button-group {
    display: inline-flex;
}

.button-group .button-group__item {
    height: 100%;
}

.button-group > .button-group__item:not(:first-child),
.button-group > *:not(:first-child) .button-group__item {
    border-left: var(--border-width) solid var(--button-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group > .button-group__item:not(:last-child),
.button-group > *:not(:last-child) .button-group__item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
