/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

button,
.button {
    display: inline-block;
    padding: 0.5rem 1.75rem;

    color: var(--color-grey12);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;

    background-color: var(--color-grey3);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 5%));
    box-shadow: 0 1px 2px var(--color-box-shadow);
    border: 0.25rem solid var(--color-grey8);
    border-radius: 0.75rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

    cursor: pointer;
}

button:not([disabled]):hover,
button:not([disabled]):focus,
.button:not([aria-disabled]):hover,
.button:not([aria-disabled]):focus {
    background-color: var(--color-grey4);
}

button:not([disabled]):active,
.button:not([aria-disabled]):active {
    background-color: var(--color-grey5);
}

button[disabled],
.button[aria-disabled] {
    color: var(--color-grey11);

    border-color: var(--color-grey7);

    outline: none;

    cursor: not-allowed;
    pointer-events: none;
}

.button--primary {
    color: var(--color-primary12);

    background-color: var(--color-primary6);
    border-color: var(--color-primary8);
}

.button--primary:not([disabled]):hover,
.button--primary:not([disabled]):focus,
.button--primary:not([aria-disabled]):hover,
.button--primary:not([aria-disabled]):focus {
    background-color: var(--color-primary7);
}

.button--primary:not([disabled]):active,
.button--primary:not([aria-disabled]):active {
    background-color: var(--color-primary8);
}

.button--primary[disabled],
.button--primary[aria-disabled] {
    color: var(--color-primary11);

    border-color: var(--color-primary7);
}

.button--icon {
    padding: 0.75rem 1rem;

    line-height: 1.2;

    border-radius: 5rem;
}

.button--anchor {
    padding: 0;

    color: var(--color-primary11);

    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.button--anchor:hover,
.button--anchor:focus,
.button--anchor:active {
    background-color: transparent;
}
