/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.card {
    overflow: hidden;

    padding: 2rem 1rem;

    background-color: var(--color-grey3);
    box-shadow: 0 1px 2px var(--color-box-shadow);
    border-radius: 0.5rem;
}

a.card {
    text-decoration: none;
}

a.card:hover,
a.card:focus {
    background-color: var(--color-grey4);
}

a.card:active {
    background-color: var(--color-grey5);
}

.card__title {
    font-weight: bold;
    overflow-wrap: anywhere;
}
