/* This file is part of Bileto. */
/* Copyright 2022-2025 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.card {
    overflow: hidden;

    display: flex;

    flex-direction: column;
    align-items: stretch;

    background-color: var(--color-grey3);
    border-radius: var(--border-radius);
}

.card > * {
    padding: 1.5rem 1rem;
}

.card > * + * {
    margin-top: -1.5rem;
}

.card--primary {
    background-color: var(--color-primary3);
}

.card--link {
    text-decoration: none;
}

.card--action {
    align-items: center;
    justify-content: center;

    font-weight: bold;
    text-align: center;
    text-decoration: none;

    background-color: var(--color-primary3);

    transition: background-color 0.2s ease-in-out;
}

.card--action:hover,
.card--action:focus {
    background-color: var(--color-primary4);
}

.card__title {
    display: block;

    font-size: var(--font-size-big);
    font-weight: bold;
    text-align: center;
    overflow-wrap: anywhere;

    border-radius: 0.5rem;
}

a.card__title {
    text-decoration: none;

    outline-offset: calc(-1 * var(--width-outline));
}

.card__body {
    flex: 1;
}
