/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.documents__link {
    color: currentcolor;
    text-decoration: none;

    border-radius: var(--border-radius);

    transition: color 0.2s ease-in-out;
}

.documents__link:hover,
.documents__link:focus {
    color: var(--color-primary11);
}

.documents__icon {
    padding: var(--space-small);

    background-color: var(--color-main-background);
    border-radius: 50%;
}

.documents__icon .icon {
    width: 1.5em;
    margin-top: 0;
}
