/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

label {
    display: block;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem 0.75rem;

    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;

    background-color: var(--color-grey1);
    box-shadow: 2px 2px 3px var(--color-box-shadow) inset;
    border: 0.25rem solid var(--color-grey7);
    border-radius: 0.5rem;

    transition: border-color 0.2s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 15rem;
}

input:focus,
textarea:focus {
    border-color: var(--color-primary8);
}

input[aria-invalid],
textarea[aria-invalid] {
    background-color: var(--color-error2);
    border-color: var(--color-error11);
}

select {
    width: 100%;
    padding: 0.5rem 0.75rem;

    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;
    text-overflow: ellipsis;

    background-color: var(--color-grey3);
    border: 0.25rem solid var(--color-grey7);
    border-radius: 0.5rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

.form-group--inline select {
    width: auto;
}

select:not([multiple]) {
    padding-right: 3.5rem;

    background-image: url("../../icons/angle-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem top 58%;
    background-size: 2.5rem;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

[data-color-scheme="dark"] select:not([multiple]) {
    background-image: url("../../icons/angle-down-light.svg");
}

select:not([disabled]):hover,
select:not([disabled]):focus {
    background-color: var(--color-primary4);
    border-color: var(--color-primary8);
}

select[aria-invalid] {
    background-color: var(--color-error2);
    border-color: var(--color-error11);
}

.form-group--inline {
    display: flex;

    align-items: center;
}

.form__error {
    padding-left: 1.75em;

    color: var(--color-error11);
    font-size: 0.9em;
    font-weight: bold;

    background-image: url("../../icons/circle-exclamation-error.svg");
    background-repeat: no-repeat;
    background-position: 0.75rem center;
    background-size: 1.1em;
}

.form__actions {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__actions > * + * {
    margin-top: 1rem;
}

@media (min-width: 800px) {
    .form__actions {
        flex-direction: row-reverse;
    }

    .form__actions > * + * {
        margin-top: 0;
    }
}
