/* This file is part of Bileto. */
/* Copyright 2020 - 2022 Marien Fressinaud (flusio) */
/* Copyright 2022-2025 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

:root {
    --checkbox-border-radius: var(--border-radius-smaller);
    --checkbox-size: 20px;
    --checkbox-tick-color: var(--form-border-color);
    --checkbox-tick-size: 12px;
    --checkbox-tick-width: 2px;

    --form-background-color: var(--color-main-background);
    --form-background-color-disabled: var(--color-grey2);
    --form-background-color-error: var(--color-error2);

    --form-color-disabled: var(--color-grey11);
    --form-color-error: var(--color-error11);

    --form-border-color: var(--color-primary12);
    --form-border-color-disabled: var(--color-grey7);
    --form-border-color-error: var(--color-error11);

    --form-border-width: var(--border-width);

    --form-border-radius: var(--border-radius);

    --form-padding-x: var(--space-medium);
    --form-padding-y: var(--space-medium);
    --form-padding: var(--form-padding-y) var(--form-padding-x);

    --select-icon-size: 1rem;
}

.form--standard {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.form--standard > * + * {
    margin-top: var(--space-large);
}

.form--inline {
    display: inline-block;
}

label {
    display: block;
}

input,
textarea,
.multitext {
    width: 100%;
    padding: var(--form-padding);

    color: inherit;
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;

    background-color: var(--form-background-color);
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 15rem;
}

input[disabled],
textarea[disabled] {
    color: var(--form-color-disabled);

    background-color: var(--form-background-color-disabled);
    border-color: var(--form-border-color-disabled);
}

input[aria-invalid],
textarea[aria-invalid] {
    background-color: var(--form-background-color-error);
    border-color: var(--form-border-color-error);
}

.input--size1 {
    width: 3rem;
}

.input--size2 {
    width: 6rem;
}

.input--size3 {
    width: 12rem;
}

.input--size4 {
    width: 18rem;
}

/**
 * Accessible custom checkboxes and radio buttons.
 * @see https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
 */
input[type="checkbox"],
input[type="radio"] {
    position: absolute;

    overflow: hidden;
    clip-path: rect(0 0 0 0);

    width: 1px;
    height: 1px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;

    display: inline-flex;

    align-items: center;
}

input[type="checkbox"][disabled] + label,
input[type="radio"][disabled] + label {
    color: var(--form-color-disabled);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";

    position: relative;

    width: var(--checkbox-size);
    height: var(--checkbox-size);
    margin-right: var(--space-smaller);

    flex-shrink: 0;

    background-color: var(--form-background-color);
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--checkbox-border-radius);

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

input[type="radio"] + label::before {
    border-radius: 50%;
}

input[type="checkbox"]:not([disabled]):focus + label,
input[type="radio"]:not([disabled]):focus + label {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
}

input[type="checkbox"]:not([disabled]):checked + label::before,
input[type="radio"]:not([disabled]):checked + label::before {
    border-color: var(--form-border-color);
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
    content: "";

    position: absolute;

    width: var(--checkbox-tick-size);
    height: calc(var(--checkbox-tick-size) / 2);
    margin-top: calc(-1 * (var(--checkbox-size) - var(--checkbox-tick-size)) / 2);
    margin-left: calc((var(--checkbox-size) - var(--checkbox-tick-size)) / 2);

    border-bottom: var(--checkbox-tick-width) solid var(--checkbox-tick-color);
    border-left: var(--checkbox-tick-width) solid var(--checkbox-tick-color);

    transform: rotate(-45deg);
}

input[type="radio"]:checked + label::after {
    height: var(--checkbox-tick-size);
    margin-top: 0;

    background-color: var(--checkbox-tick-color);
    border: none;
    border-radius: 100%;

    transform: none;
}

input[type="checkbox"]:disabled:checked + label::after,
input[type="radio"]:disabled:checked + label::after {
    border-color: var(--form-border-color);
}

select {
    width: 100%;
    padding: var(--form-padding);

    color: inherit;
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;
    text-overflow: ellipsis;

    background-color: var(--form-background-color);
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

.cols > select {
    width: auto;
}

select:not([multiple]) {
    padding-right: calc(var(--form-padding-x) + var(--select-icon-size) + var(--form-padding-x));

    background-image: url("../../icons/angle-down.svg");
    background-repeat: no-repeat;
    background-position: right var(--form-padding-x) top 50%;
    background-size: var(--select-icon-size);

    appearance: none;
}

[data-color-scheme="dark"] select:not([multiple]) {
    background-image: url("../../icons/angle-down-light.svg");
}

select[disabled] {
    color: var(--form-color-disabled);

    background-color: var(--form-background-color-disabled);
    border-color: var(--form-border-color-disabled);
}

select[disabled]:not([multiple]) {
    background-image: url("../../icons/angle-down-secondary.svg");
}

[data-color-scheme="dark"] select[disabled]:not([multiple]) {
    background-image: url("../../icons/angle-down-secondary-light.svg");
}

select[aria-invalid] {
    background-color: var(--form-background-color-error);
    border-color: var(--form-border-color-error);
}

.widget--small {
    --form-padding-y: var(--space-smaller);
    --form-padding: var(--form-padding-y) var(--form-padding-x);
}

fieldset {
    min-width: auto;
    padding: var(--form-padding);

    background-color: var(--form-background-color);
    border: var(--border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);
}

legend {
    padding-right: 1rem;
    padding-left: 1rem;
}

.editor {
    background-color: var(--tinymce-background);
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);

    transition: border-color 0.2s ease-in-out;
}

[data-color-scheme="light"] .editor {
    --tinymce-background: #fff;
}

[data-color-scheme="dark"] .editor {
    --tinymce-background: #222f3e;
}

.editor__documents {
    margin-right: var(--form-padding-x);
    margin-left: var(--form-padding-x);
    padding-top: var(--form-padding-y);
    padding-bottom: var(--form-padding-y);

    border-top: var(--form-border-width) solid var(--color-grey6);
}

.editor .tox-tinymce {
    border: none;
    border-radius: var(--form-border-radius) var(--form-border-radius) 0 0;
}

.editor:has([data-has-focus="true"]) {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
}

.form__caption {
    color: var(--color-grey11);
    font-size: var(--font-size-small);
}

.form__error {
    --icon-size: 1rem;

    padding-left: calc(var(--icon-size) + var(--space-small));

    color: var(--form-color-error);
    font-size: var(--font-size-small);
    font-weight: bold;

    background-image: url("../../icons/circle-exclamation-error.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: var(--icon-size);
}

.form__actions {
    text-align: center;
}

.input-container {
    --button-size: 2.5rem;

    position: relative;
}

.input-container input {
    padding-right: calc(var(--button-size) + var(--form-padding-x));
}

.input-container button {
    position: absolute;
    top: 50%;
    right: 5px;

    width: var(--button-size);

    color: currentcolor;

    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-color: transparent;

    outline-offset: 0;

    transform: translateY(-50%);
}

.input-container button:hover,
.input-container button:focus {
    color: var(--color-grey12);

    background-color: transparent;
}

.input-container button[aria-pressed="false"] .icon--eye-slash,
.input-container button[aria-pressed="true"] .icon--eye {
    display: none;
}

.multitext {
    --multitext-elements-padding-y: var(--space-smaller);
    --multitext-elements-margin-bottom: var(--space-smaller);
    --multitext-elements-border-width: 1px;

    /* Make sure to remove the paddings, margins and borders of internal
     * elements of the container from the initial padding. */
    padding-top: calc(var(--form-padding-y) - var(--multitext-elements-padding-y) - var(--multitext-elements-border-width));
    padding-bottom: calc(var(--form-padding-y) - var(--multitext-elements-padding-y) - var(--multitext-elements-margin-bottom) - var(--multitext-elements-border-width));

    cursor: text;
}

.multitext:focus-within {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
}

.multitext__input {
    display: inline-block;
    width: 175px;
    margin-bottom: var(--multitext-elements-margin-bottom);
    padding: var(--multitext-elements-padding-y) 0;

    border-color: transparent;
}

.multitext__input:focus {
    outline: none;
}

.multitext__list > * {
    margin-right: var(--space-smaller);
    margin-bottom: var(--multitext-elements-margin-bottom);
}

.multitext__list > *[aria-invalid] {
    --button-color: var(--color-error11);
}

.multitext__list > *[aria-invalid]:hover,
.multitext__list > *[aria-invalid]:focus,
.multitext__list > *[aria-invalid]:active {
    --button-background-color: var(--color-error3);
}
