/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.icon {
    display: inline-block;
    width: 1em;
    height: auto;
    margin-top: 0.15em;

    vertical-align: text-top;

    fill: currentcolor;
}

.icon--rotate90 {
    transform: rotate(90deg);
}

.icon--rotate180 {
    transform: rotate(180deg);
}

.icon--rotate270 {
    transform: rotate(270deg);
}
