/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.icon {
    display: inline-block;
    width: 1em;
    height: auto;
    margin-top: 0.15em;

    vertical-align: text-top;

    fill: currentcolor;
}
