/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.layout__header-container {
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    align-items: center;
    justify-content: center;
}

.layout__header-container > * {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.layout__header-home {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;

    color: inherit;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;

    outline-offset: -0.3rem;
}

.layout__header-extend {
    flex: 1;
}

.layout__header-avatar {
    display: inline-block;

    border-radius: 50%;

    cursor: pointer;
}

.layout__header-avatar .icon {
    width: 2em;
}

.layout__back {
    max-width: 1200px;
    margin-top: -1rem;
    margin-right: auto;
    margin-left: auto;
}

.layout__back a {
    display: inline-block;
    padding: 2rem 1.5rem;

    outline-offset: -0.3rem;
}

.layout__back a::before {
    content: "←";
}

.layout__body {
    padding: 2rem 1rem 4rem;

    background-color: var(--color-grey1);
    box-shadow: 0 1px 3px var(--color-grey7);
}

.layout__body--small {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 800px) {
    .layout__body {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .layout__body--small {
        border-radius: 0.5rem;
    }
}

.layout__body h1 {
    font-size: 1.5em;
    text-align: center;
}
