/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.layout__header-container {
    display: flex;
    max-width: 1200px;
    height: 7rem;
    margin-right: auto;
    margin-left: auto;

    align-items: center;
    justify-content: center;
}

.layout__header-container > * {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.layout__header-home {
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    color: inherit;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;

    outline-offset: -0.3rem;
}

.layout__header-home img {
    display: block;
    max-width: 100%;
    height: 4rem;
}

.layout__header-extend {
    flex: 1;
}

.layout__header-avatar {
    display: inline-block;

    border-radius: 50%;

    cursor: pointer;
}

.layout__header-avatar .icon {
    width: 2em;
    margin-top: 0;
}

.layout__header-anchor {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    text-decoration: none;
}

.layout__back {
    max-width: 1200px;
    margin-top: -1rem;
    margin-right: auto;
    margin-left: auto;
}

.layout__back a {
    display: inline-block;
    padding: 2rem 1.5rem;

    outline-offset: -0.3rem;
}

.layout__back a::before {
    content: "â†";
}

.layout__body {
    padding: 2rem 1rem 10rem;

    background-color: var(--color-grey1);
    box-shadow: 0 1px 3px var(--color-box-shadow);
}

.layout__body--small {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 800px) {
    .layout__body {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .layout__body--small {
        border-radius: 0.5rem;
    }
}

.layout__body-header {
    padding-bottom: 2rem;

    border-bottom: 0.25rem solid var(--color-grey4);
}

.layout__body-header > * {
    display: inline-block;

    vertical-align: middle;
}

.layout__body-header > a {
    text-decoration: none;
}

.layout__body-header > h1 {
    text-align: left;
}

.layout__body-header > *:not(:last-child)::after {
    content: "";

    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.1rem;
    margin-right: 1rem;
    margin-left: 0.75rem;

    vertical-align: middle;

    border-top: 0.25rem solid var(--color-grey6);
    border-right: 0.25rem solid var(--color-grey6);

    transform: rotate(45deg);
}

.banner__container {
    display: block;
    padding: 1rem;

    font-weight: bold;
    text-align: center;

    background-color: var(--color-primary3);
    box-shadow: 0 1px 3px var(--color-box-shadow);
    border-bottom: 0.25rem solid var(--color-primary6);
}

.layout__banner--alert .banner__container {
    color: var(--color-error12);

    background-color: var(--color-error2);
    border-bottom-color: var(--color-error9);
}
