/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.layout__header-anchor {
    display: block;
    min-width: 7rem;
    padding: 2rem;
    padding-bottom: 1.5rem;

    text-align: center;
    text-decoration: none;

    border-bottom: var(--width-border-bolder) solid transparent;

    outline-offset: calc(-1 * var(--width-outline));

    transition: background-color 0.2s ease-in-out;
}

.layout__header-anchor[aria-current="page"] {
    background-color: var(--color-primary3);
    border-color: var(--color-primary9);
}

.layout__header-anchor:hover,
.layout__header-anchor:focus {
    background-color: var(--color-primary4);
}

.layout__header-home {
    width: 11rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.layout__header-home img {
    display: block;
}

.layout__header-avatar {
    margin: 0.5rem;

    border-radius: 50%;
}

.layout__header-avatar .icon {
    width: 2em;
    margin-top: 0;
}

.layout__body {
    padding: 2rem 1rem 10rem;

    background-color: var(--color-grey1);
    box-shadow: 0 1px 3px var(--color-box-shadow);
}

.layout__body--small {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 800px) {
    .layout__body {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .layout__body--small {
        border-radius: 0.5rem;
    }
}

.layout__breadcrumb {
    padding-bottom: 2rem;

    border-bottom: var(--width-border) solid var(--color-grey4);
}

.layout__breadcrumb > * {
    display: inline-block;

    vertical-align: middle;
}

.layout__breadcrumb > a {
    text-decoration: none;
}

.layout__breadcrumb > h1 {
    text-align: left;
}

.layout__breadcrumb > *:not(:last-child)::after {
    content: "";

    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.1rem;
    margin-right: 1rem;
    margin-left: 0.75rem;

    vertical-align: middle;

    border-top: var(--width-border-bold) solid var(--color-primary6);
    border-right: var(--width-border-bold) solid var(--color-primary6);

    transform: rotate(45deg);
}

.banner__container {
    display: block;
    padding: 1rem;

    font-size: 0.9em;
    text-align: center;

    background-color: var(--color-primary3);
    box-shadow: 0 1px 3px var(--color-box-shadow);
    border-bottom: var(--width-border-bold) solid var(--color-primary6);
}

.layout__banner--alert .banner__container {
    color: var(--color-error12);

    background-color: var(--color-error2);
    border-bottom-color: var(--color-error9);
}
