/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.line {
    display: flex;

    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .line {
        flex-direction: row;
    }
}

.line > *:not(.line__extend) + *:not(.line__extend) {
    margin-top: 2rem;
}

@media (min-width: 800px) {
    .line > *:not(.line__extend) + *:not(.line__extend) {
        margin-top: 0;
        margin-left: 2rem;
    }
}

.line__extend {
    flex-grow: 1;
}
