/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.list--nostyle {
    padding: 0;

    list-style: none;
}

.list--padded > li {
    padding: 1rem 1.75rem;
}

.list--border {
    border: var(--width-border) solid var(--color-grey7);
    border-radius: 0.5rem;
}

.list--border > li + li {
    border-top: var(--width-border) solid var(--color-grey7);
}

.list--strip > li:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.list--strip > li:last-child {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.list--strip > li:nth-child(odd) {
    background-color: var(--color-grey3);
}

.list--strip > li:nth-child(even) {
    background-color: var(--color-grey4);
}
