/* This file is part of Bileto. */
/* Copyright 2022-2025 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.message {
    --message-background: var(--color-grey3);

    display: flex;

    align-items: flex-start;
}

.message--confidential {
    --message-background: var(--color-error3);
}

.message--solution {
    --message-background: var(--color-primary3);
}

@media (max-width: 800px) {
    .message__avatar {
        display: none;
    }
}

@media (min-width: 800px) {
    .message__avatar {
        position: relative;

        padding-right: 1rem;
        padding-left: 1rem;
    }

    .message__avatar > .icon {
        width: 3rem;
        margin-top: 0;

        background-color: var(--color-main-background);
        border-radius: 50%;
    }
}

.message__box {
    position: relative;

    padding: var(--space-medium) var(--space-small);

    flex: 1;

    background-color: var(--message-background);
    border-radius: var(--border-radius);
}

@media (min-width: 800px) {
    .message__box {
        padding-right: var(--space-large);
        padding-left: var(--space-large);
    }
}

.message__top {
    display: flex;
    padding-bottom: var(--space-medium);

    align-items: center;

    color: var(--color-primary12);
    font-size: var(--font-size-small);

    border-bottom: var(--border-width) solid var(--color-main-background);
}

.message__top > * + * {
    margin-left: var(--space-medium);
}

.message__top-separator {
    flex: 1;
}

.message__author {
    font-weight: bold;
}

.message__date {
    color: var(--color-grey11);
}

.message__content {
    position: relative;

    margin-top: var(--space-large);
    margin-bottom: var(--space-large);

    word-wrap: anywhere;
}

.message__content h1 {
    margin-top: 1.17em;
    margin-bottom: 0.67em;
}

.message__content h2 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

.message__content h3 {
    margin-top: 1.33em;
    margin-bottom: 0.83em;
}

.message__content p,
.message__content ul,
.message__content ol {
    margin-top: 1.12em;
    margin-bottom: 1.12em;
}

.message__content th,
.message__content td {
    padding: initial;

    font-size: var(--font-size-normal);

    vertical-align: initial;
}

.message__content tbody tr {
    border-bottom: none;
}

.message__content tbody tr:nth-child(odd) {
    background-color: var(--message-background);
}

.message__content tbody tr:nth-child(even) {
    background-color: var(--message-background);
}

.message__content blockquote {
    margin-left: 0;
    padding-left: var(--space-medium);

    color: var(--color-grey11);

    border-left: 2px solid var(--color-grey6);
}

.message__content pre {
    white-space: pre-wrap;
}

.message__bottom {
    padding-top: var(--space-medium);

    border-top: var(--border-width) solid var(--color-main-background);
}
