/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.message {
    display: flex;

    align-items: flex-start;
}

.message__avatar {
    position: relative;

    margin-right: 2rem;
}

@media (max-width: 799px) {
    .message__avatar {
        display: none;
    }
}

.message__avatar > .icon {
    width: 5rem;
}

.message__role {
    position: absolute;
    right: -0.75rem;
    bottom: -0.75rem;

    width: 3rem;
    height: 3rem;
    padding: 0.3rem;

    text-align: center;

    opacity: 0.9;
    background-color: var(--color-grey1);
    border: 1px solid var(--color-grey7);
    border-radius: 2rem;
}

.message__role > .icon {
    width: 75%;
    height: 75%;
}

.message__box {
    position: relative;

    flex: 1;

    border: 1px solid var(--color-grey6);
    border-radius: 0.5rem;
}

.message--solution .message__box {
    border-width: 2px;
    border-color: var(--color-success6);
}

@media (min-width: 800px) {
    .message__box::before {
        content: " ";

        position: absolute;
        top: 14px;
        right: 100%;
        left: -8px;

        display: block;
        width: 8px;
        height: 16px;

        background-color: var(--color-grey6);

        clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }

    .message--solution .message__box::before {
        background-color: var(--color-success6);
    }
}

.message__top {
    display: flex;
    padding: 1rem 2rem;

    font-size: 0.9em;

    background-color: var(--color-grey3);
    border-bottom: 1px solid var(--color-grey6);
    border-radius: 0.5rem 0.5rem 0 0;
}

.message--solution .message__top {
    color: var(--color-success12);

    background-color: var(--color-success3);
    border-bottom-width: 2px;
    border-bottom-color: var(--color-success6);
}

.message--confidential .message__top {
    background-image: linear-gradient(to right, var(--color-grey6), var(--color-grey3));
}

.message__top * + * {
    margin-left: 0.5rem;
}

.message__top-separator {
    flex: 1;
}

.message__author {
    font-weight: bold;
}

.message__date {
    color: var(--color-grey11);
    font-size: 0.9em;
}

.message--solution .message__date {
    color: var(--color-success11);
}

.message__content {
    position: relative;

    padding: 2rem;

    background-color: var(--color-grey1);
    border-radius: 0 0 0.5rem 0.5rem;
}

.message--confidential .message__content::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.1;

    background-image: url("../../icons/user-secret.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 2rem) calc(100% + 4rem);
    background-size: 10rem;

    pointer-events: none;
}

[data-color-scheme="dark"] .message--confidential .message__content::after {
    background-image: url("../../icons/user-secret-light.svg");
}

.message__content * + p,
.message__content * + ul,
.message__content * + ol {
    margin-top: 2rem;
}

.message__content th,
.message__content td {
    padding: initial;

    font-size: 1em;

    vertical-align: initial;
}

.message__content tbody tr {
    border-bottom: none;
}

.message__content tbody tr:nth-child(even) {
    background-color: var(--color-grey1);
}

.message__content blockquote {
    margin-left: 0;
    padding-left: 2rem;

    color: var(--color-grey11);

    border-left: 0.25rem solid var(--color-primary6);
}

.message__bottom {
    padding: 2rem;

    background-color: var(--color-grey1);
    border-radius: 0 0 0.5rem 0.5rem;
}
