/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.message {
    display: flex;

    align-items: flex-start;
}

.message__avatar {
    position: relative;

    margin-right: 2rem;
}

.message__avatar > .icon {
    width: 3.5rem;
}

@media (min-width: 800px) {
    .message__avatar > .icon {
        width: 5rem;
    }
}

.message__role {
    position: absolute;
    right: -0.75rem;
    bottom: -0.75rem;

    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3rem;

    text-align: center;

    opacity: 0.9;
    background-color: var(--color-grey1);
    border: 1px solid var(--color-grey7);
    border-radius: 2rem;
}

@media (min-width: 800px) {
    .message__role {
        width: 3rem;
        height: 3rem;
    }
}

.message__role > .icon {
    width: 75%;
    height: 75%;
}

.message__box {
    position: relative;

    flex: 1;

    border: 1px solid var(--color-grey6);
    border-radius: 0.5rem;
}

.message__box::before {
    content: " ";

    position: absolute;
    top: 14px;
    right: 100%;
    left: -8px;

    display: block;
    width: 8px;
    height: 16px;

    background-color: var(--color-grey6);

    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.message__top {
    display: flex;
    padding: 1rem 2rem;

    font-size: 0.9em;

    background-color: var(--color-grey3);
    border-bottom: 1px solid var(--color-grey6);
    border-radius: 0.5rem 0.5rem 0 0;
}

.message__top * + * {
    margin-left: 0.25rem;
}

.message__top-separator {
    flex: 1;
}

.message__author {
    font-weight: bold;
}

.message__date {
    color: var(--color-grey11);
    font-size: 0.9em;
}

.message__content {
    padding: 2rem;

    background-color: var(--color-grey1);
    border-radius: 0 0 0.5rem 0.5rem;
}

.message__content * + p,
.message__content * + ul,
.message__content * + ol {
    margin-top: 2rem;
}
