/* This file is part of Bileto. */
/* Copyright 2020 - 2022 Marien Fressinaud (flusio) */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
    overflow: hidden auto;

    opacity: 0;
    background-color: rgb(0 0 0 / 50%);

    transform: scaleX(1.02) scaleY(1.02);
    transition: visibility 0s linear 0.2s, opacity 0.2s 0s, transform 0.2s;
}

.modal[aria-hidden="false"] {
    visibility: visible;

    opacity: 1;

    transform: scaleX(1) scaleY(1);
    transition: visibility 0s linear 0s, opacity 0.2s 0s, transform 0.2s;
}

.modal__box {
    position: relative;

    max-width: 1000px;
    margin: var(--space-large) auto var(--space-larger);

    background-color: var(--color-grey1);
    box-shadow: 0 0 8px 0 var(--color-box-shadow);

    scroll-margin-top: var(--space-large);
}

@media (min-width: 800px) {
    .modal__box {
        margin-top: var(--space-larger);
    }
}

@media (min-width: 1000px) {
    .modal__box {
        border-radius: var(--border-radius);
    }
}

.modal__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    padding: var(--space-medium);

    text-align: right;
}

.modal__body {
    overflow: hidden;

    min-height: 15rem;
    padding: var(--space-larger) var(--space-medium);
}

@media (min-width: 800px) {
    .modal__body {
        padding-right: var(--space-larger);
        padding-left: var(--space-larger);
    }
}

.modal__title {
    margin-bottom: var(--space-larger);
}

body.modal-opened {
    overflow: hidden;
}
