/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.notifications {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;

    padding: 3rem;

    pointer-events: none;
}

.notifications__item {
    position: relative;

    max-width: 500px;
    margin-left: auto;
    padding: 2rem 5rem;

    font-size: 0.9em;
    font-weight: bold;

    background-repeat: no-repeat;
    background-position: left 1rem center;
    background-size: 3rem;
    box-shadow: 1px 2px 3px 1px var(--color-box-shadow);
    border-left-width: var(--width-border-bolder);
    border-left-style: solid;
    border-radius: 0.5rem;

    pointer-events: auto;
}

.notifications__item--success {
    color: var(--color-success11);

    background-color: var(--color-success3);
    background-image: url("../../icons/circle-check-success.svg");
    border-color: var(--color-success9);
}

.notifications__item--error {
    color: var(--color-error11);

    background-color: var(--color-error3);
    background-image: url("../../icons/circle-exclamation-error.svg");
    border-color: var(--color-error9);
}

.notifications__item button {
    position: absolute;
    top: 1.25rem; /* Align the button with the first line of the notification. */
    right: 1rem;

    color: currentcolor;

    background: none;
    box-shadow: none;
    border: none;
}
