/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.organizations-list {
    position: relative;

    padding-left: 0;

    border-left: 0.25rem solid var(--color-primary7);

    list-style: none;
}

.organizations-list .organizations-list {
    margin-left: 1rem;

    font-size: 0.9em;

    background-color: var(--color-grey3);
}

.organizations-list__item a {
    display: block;
    margin-left: -0.25rem;
    padding: 1rem;

    line-height: 1;
    text-decoration: none;

    border-left: 0.25rem solid transparent;
    outline-offset: -0.3rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

.organizations-list__item a:hover,
.organizations-list__item a:focus {
    background-color: var(--color-primary4);
    border-left-color: var(--color-primary8);
}
