/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.placeholder {
    display: flex;
    min-height: 15rem;
    padding: var(--space-larger);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--color-grey11);
    text-align: center;

    background-color: var(--color-main-background);
    border-radius: var(--border-radius);
}
