/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.popup {
    position: relative;

    display: inline-block;
}

.popup__opener {
    list-style: none;
}

.popup__opener::-webkit-details-marker {
    display: none;
}

.popup__opener:focus {
    outline: 0;
}

.popup__opener:focus > * {
    outline: 0.3rem solid var(--color-primary9);
}

.popup__container {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 0.9em;

    background-color: var(--color-primary3);
    border-top: 0.3rem solid var(--color-primary7);
}

@media (min-width: 800px) {
    .popup__container {
        position: absolute;
        bottom: auto;

        min-width: 27rem;

        box-shadow: 1px 2px 3px 1px var(--color-box-shadow);
        border: 0.2rem solid var(--color-primary7);
        border-top-width: 0.3rem;
        border-radius: 0.75rem;
    }

    .popup__container--large {
        min-width: 31rem;
    }

    .popup__container--bottom {
        left: 50%;

        margin-top: 1.25rem;
        margin-right: auto;
        margin-left: auto;

        transform: translateX(-50%);
    }

    .popup__container--left {
        right: 0;
        left: auto;

        margin-top: 1.25rem;
    }

    .popup__container--bottom::before,
    .popup__container--left::before {
        content: "";

        position: absolute;
        top: -10px;

        display: block;
        width: 16px;
        height: 8px;

        background-color: var(--color-primary7);

        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }

    .popup__container--bottom::before {
        left: 50%;

        transform: translateX(-50%);
    }

    .popup__container--left::before {
        right: 2.75rem;
    }
}

.popup__title {
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    font-weight: bold;
    overflow-wrap: anywhere;
}

.popup__separator {
    height: 0.2rem;
    margin: 1rem 1.5rem;

    background-color: var(--color-primary7);
    border-radius: 0.75rem;
}

.popup__item {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;

    color: var(--color-grey12);
    line-height: 1.5;
    text-align: left;
    text-decoration: none;

    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    border-radius: 0;

    transition: none;

    transition: background-color 0.2s ease-in-out;
}

@media (min-width: 800px) {
    .popup__item {
        white-space: nowrap;
    }
}

.popup__item:not([disabled]):hover,
.popup__item:not([disabled]):focus {
    color: var(--color-grey12);

    background-color: var(--color-primary5);
}

.popup__item:not([disabled]):focus {
    outline-offset: -0.1rem;
}

.popup__item:not([disabled]):active {
    background-color: var(--color-primary5);
}

.popup__item .icon {
    margin-right: 0.25rem;
}
