/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.popup {
    position: relative;

    display: inline-block;
}

.popup__opener {
    height: 100%;

    list-style: none;
}

.popup__opener::-webkit-details-marker {
    display: none;
}

.popup__opener:focus {
    outline: 0;
}

.popup__opener:focus > * {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
}

.popup__container {
    position: absolute;
    z-index: 100;
    right: 0;

    min-width: 15rem;
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);

    background-color: var(--color-main-background);
    box-shadow: 0 0 8px 0 var(--color-box-shadow);
    border: 1px solid var(--color-grey6);
    border-radius: var(--border-radius);
}

.popup__container--center {
    right: auto;
    left: 50%;

    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: auto;

    transform: translateX(-50%);
}

.popup__container--right {
    right: 0;
    left: auto;

    margin-top: 0.5rem;
}

.popup__container--left {
    right: auto;
    left: 0;

    margin-top: 0.5rem;
}

.popup__container--top {
    bottom: 100%;

    margin-top: 0;
    margin-bottom: 0.5rem;
}

.popup__container--center::before,
.popup__container--right::before,
.popup__container--left::before {
    content: "";

    position: absolute;
    top: -7px;

    display: block;
    width: 14px;
    height: 14px;

    background-color: var(--color-main-background);
    border-top: 1px solid var(--color-grey6);
    border-left: 1px solid var(--color-grey6);

    transform: rotate(45deg);
}

.popup__container--center::before {
    left: 50%;

    transform: translateX(-50%) rotate(45deg);
}

.popup__container--right::before {
    right: 1.75rem;
}

.popup__container--left::before {
    left: 1.75rem;
}

.popup__container--top::before {
    top: auto;
    bottom: -7px;

    transform: rotate(225deg);
}

.popup__title {
    margin-top: calc(var(--space-medium) * -1);
    padding: var(--space-medium);

    color: var(--color-primary12);
    font-weight: bold;
    overflow-wrap: anywhere;
}

.popup__separator {
    height: 2px;
    margin: var(--space-small) var(--space-medium);

    background-color: var(--color-grey6);
}

.popup__item {
    display: block;
    width: 100%;
    padding: var(--space-smaller) var(--space-medium);

    color: var(--color-grey12);
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;

    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    border-radius: 0;

    transition: none;

    transition: color 0.2s ease-in-out;
}

@media (min-width: 800px) {
    .popup__item {
        white-space: nowrap;
    }
}

.popup__item:not([disabled]):hover,
.popup__item:not([disabled]):focus {
    color: var(--color-primary11);

    background-color: transparent;
}

.popup__item:not([disabled]):active {
    background-color: transparent;
}

.popup__item .icon {
    margin-right: 0.25rem;
}

input[type="radio"]:checked + .popup__item::after {
    transform: translateX(var(--space-medium));
}
