/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

progress {
    display: block;
    width: 100%;
    height: 2rem;

    background-color: var(--color-primary2);
    border: 0.25rem solid var(--color-primary9);
    border-radius: 0.5rem;

    appearance: none;
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
    background-color: var(--color-primary9);
}
