/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

progress {
    display: block;
    width: 100%;
    height: 1rem;

    background-color: var(--color-main-background);
    border: var(--border-width) solid var(--color-primary12);
    border-radius: var(--border-radius);

    appearance: none;
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
    max-width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;

    background-color: var(--color-primary12);
    border-radius: var(--border-radius);
}

.progress--warning {
    background-color: var(--color-warning2);
    border-color: var(--color-warning9);
}

.progress--warning::-webkit-progress-bar,
.progress--warning::-moz-progress-bar {
    background-color: var(--color-warning9);
}

.progress-with-marker {
    position: relative;

    padding-bottom: var(--space-large);
}

.progress__marker {
    position: absolute;
    top: 0;
    left: var(--marker-percent);

    padding-top: 1.5rem;

    font-size: 0.8em;
    text-align: center;

    transform: translateX(-50%);
}

.progress__marker::before {
    content: '';

    position: absolute;
    top: 0;
    left: calc(50% - 1px);

    display: block;
    width: 0;
    height: 1.5rem;

    border-left: 2px dotted var(--color-grey12);
}
