/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.spinner {
    width: 40px;
    height: 40px;
    margin: 30px auto;

    background-color: var(--color-primary9);
    border-radius: 100%;

    animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        opacity: 0;

        transform: scale(1);
    }
}
