/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.tabs {
    display: flex;

    margin-bottom: -0.25rem;
}

.tabs > * + * {
    margin-left: 1rem;
}

.tabs__button {
    font-size: 0.9em;

    background: none;
    box-shadow: none;
    border-radius: 0.75rem 0.75rem 0 0;
    border-color: var(--color-grey7);
}

.tabs__button[aria-selected="true"] {
    background-color: transparent;
    background-image: linear-gradient(to bottom, var(--color-grey5), var(--color-grey2));
    border-color: var(--color-grey8);
    border-bottom-color: var(--color-grey2);
}

.tabs__panel {
    padding: 2rem;

    background-color: var(--color-grey2);
    border: 0.25rem solid var(--color-grey6);
    border-radius: 0 0 0.5rem 0.5rem;
}

.tabs__panel:focus {
    outline: none;
}
