/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.text--secondary {
    color: var(--color-grey11);
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: center;
}

.text--small {
    font-size: 0.9em;
}

.text--big {
    font-size: 1.2em;
}
