/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.ticket__id {
    margin-left: 0.5rem;

    color: var(--color-grey11);
    font-size: 0.9em;
    font-weight: normal;
}

.list-tickets__anchor {
    display: inline-block;

    text-decoration: none;
}

.list-tickets__organization {
    color: var(--color-grey12);
    text-decoration: none;
    white-space: nowrap;
}

.list-tickets__requester,
.list-tickets__assignee {
    white-space: nowrap;
}
