/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.timeline {
    --timeline-icons-col-width: 0;
    --timeline-bar-top: 10px;
    --timeline-bar-height: 0;

    position: relative;
}

@media (min-width: 800px) {
    .timeline {
        --timeline-icons-col-width: 5rem;
    }

    .timeline::before {
        content: " ";

        position: absolute;
        top: var(--timeline-bar-top);
        left: calc(var(--timeline-icons-col-width) / 2 - 2px);

        height: calc(var(--timeline-bar-height) - var(--timeline-bar-top));

        border-left: 4px solid var(--color-grey3);
    }
}

.timeline__date {
    margin-left: var(--timeline-icons-col-width);
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);
}

.timeline__date h2 {
    color: var(--color-primary9);
}

.timeline__date + * {
    margin-top: var(--space-medium);
}

.timeline__date-diff {
    color: var(--color-grey11);
}

.timeline__event {
    position: relative;

    display: flex;
    padding-right: var(--space-small);
    padding-left: var(--timeline-icons-col-width);

    flex-direction: row;
    align-items: baseline;

    color: var(--color-grey11);
    font-size: var(--font-size-small);
}

@media (min-width: 800px) {
    .timeline__event {
        padding-right: var(--space-large);
    }

    .timeline__event::before {
        --bullet-size: 0.8rem;

        content: " ";

        position: absolute;
        top: 0.2rem;
        left: calc(var(--timeline-icons-col-width) / 2 - var(--bullet-size) / 2);

        display: block;
        width: var(--bullet-size);
        height: var(--bullet-size);

        background-color: var(--color-primary12);
        border-radius: 50%;
    }
}

.timeline__event + .timeline__event {
    margin-top: var(--space-medium);
}

.timeline__event-message {
    flex: 1;
}

.timeline__event-date {
    margin-left: var(--space-small);

    flex-shrink: 0;

    color: var(--color-grey11);
    text-align: right;
    text-decoration: none;
}

.timeline__event-date:hover {
    text-decoration: underline;
}

.timeline__time-spent {
    position: relative;

    display: flex;
    padding-right: var(--space-small);
    padding-left: var(--timeline-icons-col-width);

    flex-direction: row;
    align-items: center;
}

@media (min-width: 800px) {
    .timeline__time-spent {
        padding-right: var(--space-large);
    }

    .timeline__time-spent::before {
        --icon-size: 1.8rem;

        content: '';

        position: absolute;
        left: calc(var(--timeline-icons-col-width) / 2 - var(--icon-size) / 2);

        display: block;
        width: var(--icon-size);
        height: var(--icon-size);

        background-color: var(--color-primary12);
        background-image: url('../../icons/clock-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        border-radius: 50%;
    }

    [data-color-scheme="dark"] .timeline__time-spent::before {
        background-image: url('../../icons/clock.svg');
    }
}

.timeline__time-spent + .timeline__time-spent {
    margin-top: var(--space-medium);
}

.timeline__time-spent-message {
    flex: 1;
}

.timeline__time-spent-date {
    margin-left: var(--space-small);

    flex-shrink: 0;

    color: var(--color-grey11);
    font-size: var(--font-size-small);
    text-align: right;
    text-decoration: none;
}

.timeline__time-spent-date:hover {
    text-decoration: underline;
}

.timeline__editor {
    position: relative;

    margin-left: var(--timeline-icons-col-width);
}

.timeline__editor::before {
    content: " ";

    display: block;
    width: 50%;
    height: 2px;
    margin-right: auto;
    margin-bottom: var(--space-larger);
    margin-left: auto;

    background-color: var(--color-grey4);
    border-radius: var(--border-radius);
}
