/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.timeline {
    --width-col-avatars: 0rem; /* stylelint-disable-line length-zero-no-unit */
    --position-timeline-bar: 1.5rem;

    position: relative;
}

.timeline::before {
    content: " ";

    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--width-col-avatars) + var(--position-timeline-bar));

    border-left: var(--width-border-bold) solid var(--color-grey6);
}

@media (min-width: 800px) {
    .timeline {
        --width-col-avatars: calc(5rem + 2rem); /* width of avatar + margin */
    }
}

.timeline__date {
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: var(--font-size-normal);
    text-align: right;
}

/* Hide the top of the timeline bar */
.timeline__date:first-child {
    position: relative;

    background-color: var(--color-grey1);
}

.timeline__date + * {
    margin-top: 0;
}

.timeline__date-diff {
    color: var(--color-grey11);
    font-style: italic;
    font-weight: normal;
}

.timeline__event {
    display: flex;
    margin-right: 2rem;
    margin-left: calc(var(--width-col-avatars) + var(--position-timeline-bar));

    flex-direction: row;
    align-items: baseline;

    color: var(--color-grey11);
    font-size: var(--font-size-small);
}

.timeline__event + .timeline__event {
    margin-top: 2rem;
}

.timeline__event-message {
    padding-right: 2rem;
    padding-left: 2rem;

    flex: 1;
}

.timeline__event-date {
    flex-shrink: 0;

    text-align: right;
}

.timeline__editor {
    position: relative;

    margin-left: var(--width-col-avatars);

    background-color: var(--color-grey1);
    border-top: var(--width-border-bold) solid var(--color-grey6);
}
