{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block body %}
    <main class="layout__body wrapper-small wrapper--center flow">
        <h1>{{ 'Hello Bileto!' | trans }}</h1>

        <form action="{{ path('logout') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">

            <div class="form__actions">
                <button id="form-logout-submit" type="submit">
                    {{ 'Logout' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
