{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Hello Bileto!
    </p>

    <form action="{{ path('logout') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">

        <button id="form-logout-submit" type="submit">Logout</button>
    </form>
{% endblock %}
