{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block body %}
    <main class="layout__body wrapper-small wrapper--center flow">
        <h1>{{ 'Hello Bileto!' | trans }}</h1>
    </main>
{% endblock %}
