/.env.*
/.git/
/.github/
/coverage/
/docs/
/node_modules/
/tests/
/var/
/vendor/
/public/dev_assets/

/.eslint.config.js
/.gitignore
/.phpcs.xml
/.phpstan.neon
/.phpunit.result.cache
/.phpunit.xml.dist
/.rector.php
/.stylelintrc.json
/.svg-sprite.json
