/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/dev_assets/*
/public/manifest.dev.json
/uploads/
/var/
/vendor/
/node_modules/

/.phpunit.result.cache
/phpunit.xml

/coverage
