/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

/vendor/
/node_modules/

/public/dev_assets/*

/uploads/
/var/cache
/var/data
/var/log
/var/settings/*
!/var/settings/.keep

/.phpunit.result.cache
/phpunit.xml
/coverage
