/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/
/public/manifest.json
/var/
/vendor/
/node_modules/

.phpunit.result.cache
/phpunit.xml

/coverage
