# This file defines a list of environment variables used to configure Bileto.
# Please copy this file as .env.local to configure Bileto in production.

####################################
# Configuration of the application #
####################################
# Define the environment of the application. It can be: prod, dev, test
# Don't change this value unless you know what you do.
APP_ENV=prod

# A secret used to generate security tokens, **it must be changed!**
# Generate a token with the command: php bin/console app:secret
APP_SECRET=change-me

# The base URL that serves your application. It is used to generate URLs in
# non-HTTP contexts (i.e. from the command line).
APP_BASE_URL=https://example.org

# The default locale to use when creating a user and that no locale is
# specified. This is useful especially when synchronizing with a LDAP server
# or when no locale can be specified.
# Must be either "en_GB" (default) or "fr_FR".
# APP_DEFAULT_LOCALE=fr_FR

# The path to the upload directory.
# Default is var/uploads/ in the root directory.
# APP_UPLOADS_DIRECTORY=/path/to/uploads

#################################
# Configuration of the database #
#################################
# URL to connect to the database.
# Uncomment one of the two following line (depending on your database) and
# adapt the credentials and the serverVersion.
# DATABASE_URL="postgresql://user:password@localhost:5432/bileto_production?serverVersion=13&charset=utf8"
# DATABASE_URL="mysql://user:password@localhost:3306/bileto_production?serverVersion=10.5.27-MariaDB"

########################################
# Configuration of the SMTP mailserver #
########################################
# Configure your mail server. It is used to send email notifications to the users.
# Uncomment both MAILER_* lines and set them to your needs.
# More documentation at https://symfony.com/doc/7.0/mailer.html (“Transport Setup”).
# MAILER_DSN=smtp://user:pass@mail.example.com:465
# MAILER_FROM=support@example.com

#####################################
# Configuration of the async system #
#####################################
# Configure the Symfony Messenger transport.
# You should not change this value unless you know what you're doing.
# More documentation at https://symfony.com/doc/current/messenger.html#transport-configuration
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

###########################
# Configuration of Sentry #
###########################
# Uncomment and set with the DSN provided by your Sentry project.
# SENTRY_DSN="https://5fe4d21cda80b563b4557707c12eb30@sentry.example.com/42"

# Uncomment to send personally identifiable information (PPI) to Sentry.
# This data is subject to GDPR, so don't enable this option unless you're
# sure you're compliant.
# More info about collected data: https://docs.sentry.io/platforms/php/guides/symfony/data-management/data-collected/
# SENTRY_SEND_DEFAULT_PII=true

#########################
# Configuration of LDAP #
#########################
# Set to true to use LDAP.
LDAP_ENABLED=false

# The hostname of the LDAP server.
# LDAP_HOST="localhost"

# The port of the LDAP server.
# LDAP_PORT=636

# The version of LDAP used by the server.
# LDAP_VERSION=3

# The encryption used to connect to the LDAP server (can be 'none', 'ssl', 'tls').
# LDAP_ENCRYPTION="ssl"

# The base DN of the LDAP directory.
# LDAP_BASE_DN="ou=users,dc=example,dc=com"

# The credentials of the admin user of the LDAP directory.
# LDAP_ADMIN_DN="cn=admin,dc=example,dc=com"
# LDAP_ADMIN_PASSWORD="secret"

# The DN to log a user in the LDAP directory. The {user_identifier} placeholder
# is replaced by the value entered by the users.
# LDAP_USERS_DN="cn={user_identifier},ou=users,dc=example,dc=com"

# The search query to list all the users from the LDAP directory. This is used
# to synchronize automatically the list of users.
# LDAP_QUERY_LIST_USERS="(cn=*)"

# The search query to find a user in the LDAP directory when they aren't known
# by Bileto. The {user_identifier} placeholder is replaced by the value entered
# by the user. If you use a different attribute than in LDAP_USERS_DN and
# LDAP_FIELD_IDENTIFIER, make sure that the values are identical in the LDAP
# directory.
# LDAP_QUERY_SEARCH_USER="(cn={user_identifier})"

# The name of the LDAP attributes to search for the identifier, the email and
# the fullname of the users.
# LDAP_FIELD_IDENTIFIER=cn
# LDAP_FIELD_EMAIL=mail
# LDAP_FIELD_FULLNAME=displayName
