# Define the environment of the application. It can be: prod, dev, test
# Don't change this value unless you know what you do.
APP_ENV=prod

# A secret used to generate security tokens, **it must be changed!**
# Generate a token with the command: php bin/console app:secret
APP_SECRET=change-me

# URL to connect to the database.
# Uncomment one of the two following line (depending on your database) and adapt the credentials.
# DATABASE_URL="postgresql://user:password@localhost:5432/bileto_production?serverVersion=14&charset=utf8"
# DATABASE_URL="mysql://user:password@localhost:3306/bileto_production?serverVersion=mariadb-10.6.10"
