/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

/**
 * Use these colors in your CSS.
 * The real colors (tokens) are defined in colors.tokens.css.
 *
 * Understanding the scale: https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale
 *
 * In short:
 * 1 - 2: Subtle backgrounds, main app background, subtle component
 *        backgrounds (e.g. striped table, card, sidebar)
 * 3 - 5: Component backgrounds (normal, hover and pressed/selected states)
 *        +1 for call-to-actions components
 * 6 - 8: Borders (subtle, interactive, interactive-hovered)
 * 9 - 10: Solid backgrounds (normal and hover states)
 * 11 - 12: Text (low-contrast and hight-contrast
 */
[data-color-scheme="light"] {
    color-scheme: light;

    --color-main-background: var(--color-white);

    --color-box-shadow: rgb(0 0 0 / 10%);

    --color-error1: var(--color-red1);
    --color-error2: var(--color-red2);
    --color-error3: var(--color-red3);
    --color-error4: var(--color-red4);
    --color-error5: var(--color-red5);
    --color-error6: var(--color-red6);
    --color-error7: var(--color-red7);
    --color-error8: var(--color-red8);
    --color-error9: var(--color-red9);
    --color-error10: var(--color-red10);
    --color-error11: var(--color-red11);
    --color-error12: var(--color-red12);

    --color-grey1: var(--color-slate1);
    --color-grey2: var(--color-slate2);
    --color-grey3: var(--color-slate3);
    --color-grey4: var(--color-slate4);
    --color-grey5: var(--color-slate5);
    --color-grey6: var(--color-slate6);
    --color-grey7: var(--color-slate7);
    --color-grey8: var(--color-slate8);
    --color-grey9: var(--color-slate9);
    --color-grey10: var(--color-slate10);
    --color-grey11: var(--color-slate11);
    --color-grey12: var(--color-slate12);

    --color-info1: var(--color-blue1);
    --color-info2: var(--color-blue2);
    --color-info3: var(--color-blue3);
    --color-info4: var(--color-blue4);
    --color-info5: var(--color-blue5);
    --color-info6: var(--color-blue6);
    --color-info7: var(--color-blue7);
    --color-info8: var(--color-blue8);
    --color-info9: var(--color-blue9);
    --color-info10: var(--color-blue10);
    --color-info11: var(--color-blue11);
    --color-info12: var(--color-blue12);

    --color-primary1: var(--color-teal1);
    --color-primary2: var(--color-teal2);
    --color-primary3: var(--color-teal3);
    --color-primary4: var(--color-teal4);
    --color-primary5: var(--color-teal5);
    --color-primary6: var(--color-teal6);
    --color-primary7: var(--color-teal7);
    --color-primary8: var(--color-teal8);
    --color-primary9: var(--color-teal9);
    --color-primary10: var(--color-teal10);
    --color-primary11: var(--color-teal11);
    --color-primary12: var(--color-teal12);

    --color-success1: var(--color-green1);
    --color-success2: var(--color-green2);
    --color-success3: var(--color-green3);
    --color-success4: var(--color-green4);
    --color-success5: var(--color-green5);
    --color-success6: var(--color-green6);
    --color-success7: var(--color-green7);
    --color-success8: var(--color-green8);
    --color-success9: var(--color-green9);
    --color-success10: var(--color-green10);
    --color-success11: var(--color-green11);
    --color-success12: var(--color-green12);

    --color-warning1: var(--color-amber1);
    --color-warning2: var(--color-amber2);
    --color-warning3: var(--color-amber3);
    --color-warning4: var(--color-amber4);
    --color-warning5: var(--color-amber5);
    --color-warning6: var(--color-amber6);
    --color-warning7: var(--color-amber7);
    --color-warning8: var(--color-amber8);
    --color-warning9: var(--color-amber9);
    --color-warning10: var(--color-amber10);
    --color-warning11: var(--color-amber11);
    --color-warning12: var(--color-amber12);
}
