/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

/**
 * Use these colors in your CSS.
 * The real colors (tokens) are defined in colors.tokens.css.
 *
 * Understanding the scale: https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale
 *
 * In short:
 * 1 - 2: Subtle backgrounds, main app background, subtle component
 *        backgrounds (e.g. striped table, card, sidebar)
 * 3 - 5: Component backgrounds (normal, hover and pressed/selected states)
 *        +1 for call-to-actions components
 * 6 - 8: Borders (subtle, interactive, interactive-hovered)
 * 9 - 10: Solid backgrounds (normal and hover states)
 * 11 - 12: Text (low-contrast and hight-contrast
 */
[data-color-scheme="dark"] {
    color-scheme: dark;

    --color-main-background: var(--color-black);

    --color-box-shadow: rgb(0 0 0 / 50%);

    --color-error1: var(--color-red-dark1);
    --color-error2: var(--color-red-dark2);
    --color-error3: var(--color-red-dark3);
    --color-error4: var(--color-red-dark4);
    --color-error5: var(--color-red-dark5);
    --color-error6: var(--color-red-dark6);
    --color-error7: var(--color-red-dark7);
    --color-error8: var(--color-red-dark8);
    --color-error9: var(--color-red-dark9);
    --color-error10: var(--color-red-dark10);
    --color-error11: var(--color-red-dark11);
    --color-error12: var(--color-red-dark12);

    --color-grey1: var(--color-slate-dark1);
    --color-grey2: var(--color-slate-dark2);
    --color-grey3: var(--color-slate-dark3);
    --color-grey4: var(--color-slate-dark4);
    --color-grey5: var(--color-slate-dark5);
    --color-grey6: var(--color-slate-dark6);
    --color-grey7: var(--color-slate-dark7);
    --color-grey8: var(--color-slate-dark8);
    --color-grey9: var(--color-slate-dark9);
    --color-grey10: var(--color-slate-dark10);
    --color-grey11: var(--color-slate-dark11);
    --color-grey12: var(--color-slate-dark12);

    --color-info1: var(--color-blue-dark1);
    --color-info2: var(--color-blue-dark2);
    --color-info3: var(--color-blue-dark3);
    --color-info4: var(--color-blue-dark4);
    --color-info5: var(--color-blue-dark5);
    --color-info6: var(--color-blue-dark6);
    --color-info7: var(--color-blue-dark7);
    --color-info8: var(--color-blue-dark8);
    --color-info9: var(--color-blue-dark9);
    --color-info10: var(--color-blue-dark10);
    --color-info11: var(--color-blue-dark11);
    --color-info12: var(--color-blue-dark12);

    --color-primary1: var(--color-teal-dark1);
    --color-primary2: var(--color-teal-dark2);
    --color-primary3: var(--color-teal-dark3);
    --color-primary4: var(--color-teal-dark4);
    --color-primary5: var(--color-teal-dark5);
    --color-primary6: var(--color-teal-dark6);
    --color-primary7: var(--color-teal-dark7);
    --color-primary8: var(--color-teal-dark8);
    --color-primary9: var(--color-teal-dark9);
    --color-primary10: var(--color-teal-dark10);
    --color-primary11: var(--color-teal-dark11);
    --color-primary12: var(--color-teal-dark12);

    --color-success1: var(--color-green-dark1);
    --color-success2: var(--color-green-dark2);
    --color-success3: var(--color-green-dark3);
    --color-success4: var(--color-green-dark4);
    --color-success5: var(--color-green-dark5);
    --color-success6: var(--color-green-dark6);
    --color-success7: var(--color-green-dark7);
    --color-success8: var(--color-green-dark8);
    --color-success9: var(--color-green-dark9);
    --color-success10: var(--color-green-dark10);
    --color-success11: var(--color-green-dark11);
    --color-success12: var(--color-green-dark12);

    --color-warning1: var(--color-amber-dark1);
    --color-warning2: var(--color-amber-dark2);
    --color-warning3: var(--color-amber-dark3);
    --color-warning4: var(--color-amber-dark4);
    --color-warning5: var(--color-amber-dark5);
    --color-warning6: var(--color-amber-dark6);
    --color-warning7: var(--color-amber-dark7);
    --color-warning8: var(--color-amber-dark8);
    --color-warning9: var(--color-amber-dark9);
    --color-warning10: var(--color-amber-dark10);
    --color-warning11: var(--color-amber-dark11);
    --color-warning12: var(--color-amber-dark12);
}
