/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.login-new .logo {
    display: block;
    width: 40rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
