/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.tickets-show .ticket__status {
    display: block;
    margin-bottom: 0.25rem;
}

@media (min-width: 800px) {
    .tickets-show .ticket__status {
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
}

.tickets-show .ticket__info {
    font-size: 0.9em;
}

@media (min-width: 800px) {
    .tickets-show .ticket__info {
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .tickets-show .ticket__info {
        width: 350px;
    }
}

@media (min-width: 800px) {
    .tickets-show .ticket__editor {
        margin-left: 7rem;
    }
}
