/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@media (min-width: 1000px) {
    .tickets-show .ticket__layout {
        grid-template-columns: 1fr 300px;
    }
}

@media (min-width: 1450px) {
    .tickets-show .ticket__layout {
        grid-gap: 5rem;
        grid-template-columns: minmax(auto, 300px) 900px 400px;
    }

    .tickets-show .ticket__timeline {
        grid-column: 2 / 3;
    }
}

.tickets-show .ticket__status {
    display: block;
    margin-bottom: 0.25rem;
}

@media (min-width: 800px) {
    .tickets-show .ticket__status {
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
}

.tickets-show .ticket__info {
    font-size: 0.9em;
}

@media (min-width: 800px) {
    .tickets-show .ticket__editor {
        margin-left: 7rem;
    }
}
