/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.tickets-index .td--anchor a {
    text-decoration: none;
}

.tickets-index .td--anchor .ticket__title {
    text-decoration: underline;
}

@media (min-width: 800px) {
    .tickets-index .tickets__nav {
        width: 250px;
        margin-bottom: -8rem;
    }
}

@media (min-width: 1200px) {
    .tickets-index .tickets__nav {
        width: 300px;
    }
}

.tickets-index .tickets__nav ul {
    list-style: none;
}

.tickets-index .tickets__nav ul a {
    display: block;
    padding: 1rem 0.5rem;

    text-decoration: none;
}

@media (min-width: 800px) {
    .tickets-index .tickets__nav ul a {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.tickets-index .tickets__nav ul a[aria-current="page"] {
    color: var(--color-grey12);
    font-weight: bold;
}

.tickets-index .tickets__list-count {
    float: right;

    min-width: 2.5rem;
    padding: 0.25rem 0.5rem;

    font-size: 0.8em;
    font-weight: normal;
    text-align: center;

    border: 1px solid currentcolor;
    border-radius: 0.5rem;
}

.tickets-index a:not([aria-current="page"]) .tickets__list-count {
    background-color: var(--color-primary3);
}
