{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<div>
    <ul class="documents list--nostyle grid" data-form-message-documents-target="documents">
    </ul>

    <template data-form-message-documents-target="documentTemplate">
        <li class="documents__item row row--always row--center" data-target="document">
            <a
                class="documents__link row__item--extend"
                target="_blank"
                data-target="document-link"
            >
                <span
                    class="documents__name"
                    data-target="document-name"
                ></span>
            </a>

            <form
                class="documents__delete"
                method="post"
                action=""
                data-target="document-delete-form"
                data-action="form-message-documents#removeDocument"
            >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete message document') }}">
                <button class="button--icon" type="submit">
                    {{ icon('close') }}

                    <span class="sr-only">
                        {{ 'message_documents.remove' | trans }}
                    </span>
                </button>
            </form>
        </li>
    </template>
</div>
