{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<turbo-frame id="message-documents" data-controller="message-documents">
    <div class="flow flow--small">
        <ul class="documents list--nostyle grid">
            {% for messageDocument in messageDocuments %}
                {{ include(
                    'message_documents/_message_document.html.twig',
                    { messageDocument: messageDocument },
                    with_context = false
                ) }}
            {% endfor %}
        </ul>
    </div>
</turbo-frame>
