{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'admin' %}

{% block title %}{{ 'admin.index.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow flow--larger">
        <h1>{{ 'admin.index.title' | trans }}</h1>

        <div class="wrapper wrapper--text wrapper--center">
            {{ include('alerts/_alert.html.twig', {
                type: 'warning',
                title: 'admin.index.no_access' | trans,
                message: 'admin.index.no_access_advice' | trans,
            }, with_context = false) }}
        </div>
    </main>
{% endblock %}
