{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'tickets.organization.edit.title' | trans }}{% endblock %}

{% block body %}
    <div class="flow flow--large wrapper wrapper--center wrapper--small">
        {{ include('alerts/_alert.html.twig', {
            type: 'warning',
            title: 'common.caution' | trans,
            message: 'tickets.organization.edit.information' | trans,
            raw: true,
        }, with_context = false) }}

        {{ form(form, {
            action: path('edit ticket organization', { uid: ticket.uid }),
        }) }}
    </div>
{% endblock %}
