{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'settings.index.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow-larger">
        <h1>{{ 'settings.index.title' | trans }}</h1>

        <div class="wrapper-text wrapper--center">
            {{ include('alerts/_alert.html.twig', {
                type: 'warning',
                title: 'settings.index.no_access' | trans,
                message: 'settings.index.no_access_advice' | trans,
            }, with_context = false) }}
        </div>
    </main>
{% endblock %}
