/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.flow > * {
    --flow-size: 2rem;
}

.flow--smaller > * {
    --flow-size: 0.5rem;
}

.flow--small > * {
    --flow-size: 1rem;
}

.flow--large > * {
    --flow-size: 3rem;
}

.flow--larger > * {
    --flow-size: 4rem;
}

.flow > * + * {
    margin-top: var(--flow-size);
}
