/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.flow > * {
    --flow-size: var(--space-medium);
}

.flow--smaller > * {
    --flow-size: var(--space-smaller);
}

.flow--small > * {
    --flow-size: var(--space-small);
}

.flow--large > * {
    --flow-size: var(--space-large);
}

.flow--larger > * {
    --flow-size: var(--space-larger);
}

.flow > * + * {
    margin-top: var(--flow-size);
}

.flow--inline > * {
    display: inline-block;
    margin-top: 0;
    margin-right: var(--flow-size);
    margin-bottom: var(--flow-size);
}
