/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.grid {
    display: grid;

    grid-gap: var(--space-large);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.grid > * {
    min-width: 0;
}
