/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.row {
    display: flex;

    align-items: stretch;
}

@media (max-width: 799px) {
    .row:not(.row--always) {
        flex-direction: column;
    }
}

.row--center {
    align-items: center;
}

.row--baseline {
    align-items: baseline;
}

.row--middle {
    justify-content: center;
}

.row--wrap {
    flex-wrap: wrap;
}

.row__item--extend {
    flex: 1;
}

.row__item--noshrink {
    flex-shrink: 0;
}
