/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.row {
    display: flex;

    align-items: center;
}

.row > *:not(.row__extend) + *:not(.row__extend) {
    margin-left: 2rem;
}

.row__extend {
    flex-grow: 1;
}
