/* This file is part of Bileto. */
/* Copyright 2022 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.text--secondary {
    color: var(--color-grey11);
}

.text--success {
    color: var(--color-success11);
}

.text--error {
    color: var(--color-error11);
}

.text--info {
    color: var(--color-info11);
}

.text--warning {
    color: var(--color-warning11);
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--small {
    font-size: 0.9em;
}

.text--big {
    font-size: 1.2em;
}
