/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.text--secondary {
    color: var(--color-grey11);
}

.text--success {
    color: var(--color-success11);
}

.text--error {
    color: var(--color-error11);
}

.text--info {
    color: var(--color-info11);
}

.text--warning {
    color: var(--color-warning11);
}

.text--italic {
    font-style: italic;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--left {
    text-align: left;
}

.text--smaller {
    font-size: var(--font-size-smaller);
}

.text--small {
    font-size: var(--font-size-small);
}

.text--normal {
    font-size: var(--font-size-normal);
}

.text--big {
    font-size: var(--font-size-big);
}

.text--bigger {
    font-size: var(--font-size-bigger);
}

code {
    padding: 0 0.5rem;

    font-size: var(--font-size-small);

    background-color: var(--color-grey3);
    border-radius: 0.5rem;
}
