/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.wrapper-text {
    max-width: 55ch;
}

.wrapper-small {
    max-width: 600px;
}

.wrapper {
    max-width: 1000px;
}

.wrapper-large {
    max-width: 1200px;
}

.wrapper-larger {
    max-width: 1400px;
}

.wrapper--center {
    margin-right: auto;
    margin-left: auto;
}
