/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

/**
 * These colors come from https://www.radix-ui.com/colors
 * Understanding the scale: https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale
 *
 * In short:
 * 1 - 2: Subtle backgrounds, main app background, subtle component
 *        backgrounds (e.g. striped table, card, sidebar)
 * 3 - 5: Component backgrounds (normal, hover and pressed/selected states)
 *        +1 for call-to-actions components
 * 6 - 8: Borders (subtle, interactive, interactive-hovered)
 * 9 - 10: Solid backgrounds (normal and hover states)
 * 11 - 12: Text (low-contrast and hight-contrast
 */
[data-color-scheme="light"] {
    color-scheme: light;

    /* Tomato */
    --color-error1: #fffcfc;
    --color-error2: #fff8f7;
    --color-error3: #fff0ee;
    --color-error4: #ffe6e2;
    --color-error5: #fdd8d3;
    --color-error6: #fac7be;
    --color-error7: #f3b0a2;
    --color-error8: #ea9280;
    --color-error9: #e54d2e;
    --color-error10: #db4324;
    --color-error11: #ca3214;
    --color-error12: #341711;

    /* Slate */
    --color-grey1: #fbfcfd;
    --color-grey2: #f8f9fa;
    --color-grey3: #f1f3f5;
    --color-grey4: #eceef0;
    --color-grey5: #e6e8eb;
    --color-grey6: #dfe3e6;
    --color-grey7: #d7dbdf;
    --color-grey8: #c1c8cd;
    --color-grey9: #889096;
    --color-grey10: #7e868c;
    --color-grey11: #687076;
    --color-grey12: #11181c;

    /* Sky */
    --color-info1: #f9feff;
    --color-info2: #f1fcff;
    --color-info3: #e4f9ff;
    --color-info4: #d5f4fd;
    --color-info5: #c1ecf9;
    --color-info6: #a4dff1;
    --color-info7: #79cfea;
    --color-info8: #2ebde5;
    --color-info9: #68ddfd;
    --color-info10: #5fd4f4;
    --color-info11: #0078a1;
    --color-info12: #003242;

    /* Teal */
    --color-primary1: #fafefd;
    --color-primary2: #f1fcfa;
    --color-primary3: #e7f9f5;
    --color-primary4: #d9f3ee;
    --color-primary5: #c7ebe5;
    --color-primary6: #afdfd7;
    --color-primary7: #8dcec3;
    --color-primary8: #53b9ab;
    --color-primary9: #12a594;
    --color-primary10: #0e9888;
    --color-primary11: #067a6f;
    --color-primary12: #10302b;

    /* Green */
    --color-success1: #fbfefc;
    --color-success2: #f2fcf5;
    --color-success3: #e9f9ee;
    --color-success4: #ddf3e4;
    --color-success5: #ccebd7;
    --color-success6: #b4dfc4;
    --color-success7: #92ceac;
    --color-success8: #5bb98c;
    --color-success9: #30a46c;
    --color-success10: #299764;
    --color-success11: #18794e;
    --color-success12: #153226;

    /* Amber */
    --color-warning1: #fefdfb;
    --color-warning2: #fff9ed;
    --color-warning3: #fff4d5;
    --color-warning4: #ffecbc;
    --color-warning5: #ffe3a2;
    --color-warning6: #ffd386;
    --color-warning7: #f3ba63;
    --color-warning8: #ee9d2b;
    --color-warning9: #ffb224;
    --color-warning10: #ffa01c;
    --color-warning11: #ad5700;
    --color-warning12: #4e2009;

    --color-box-shadow: rgb(0 0 0 / 12%);
}
