/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import "./_reset.css";
@import "./_fonts.css";
@import "./variables/colors.tokens.css";
@import "./variables/colors.dark.css";
@import "./variables/colors.light.css";
@import "./variables/sizes.css";
@import "./utils/accessibility.css";
@import "./utils/cols.css";
@import "./utils/flow.css";
@import "./utils/grids.css";
@import "./utils/indent.css";
@import "./utils/text.css";
@import "./utils/wrapper.css";
@import "./components/alerts.css";
@import "./components/accordions.css";
@import "./components/anchors.css";
@import "./components/badges.css";
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/documents.css";
@import "./components/enclosures.css";
@import "./components/forms.css";
@import "./components/icons.css";
@import "./components/images.css";
@import "./components/lists.css";
@import "./components/messages.css";
@import "./components/modal.css";
@import "./components/notifications.css";
@import "./components/pagination.css";
@import "./components/panel.css";
@import "./components/placeholders.css";
@import "./components/popups.css";
@import "./components/progress.css";
@import "./components/scroll-to-top.css";
@import "./components/spinners.css";
@import "./components/tables.css";
@import "./components/timelines.css";
@import "./custom/contracts.css";
@import "./custom/login.css";
@import "./custom/tickets.css";
@import "./layout/banner.css";
@import "./layout/body.css";
@import "./layout/breadcrumb.css";
@import "./layout/extramenu.css";
@import "./layout/header.css";
@import "./layout/submenu.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 110%;
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-grey12);
    font-family:
        Lexend,
        system-ui,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;

    background: var(--color-grey2);
}

h1 {
    color: var(--color-primary12);
    font-size: var(--font-size-bigger);
    font-weight: 600;
    text-align: center;
}

h2 {
    color: var(--color-primary12);
    font-size: var(--font-size-normal);
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: var(--font-size-normal);
}

summary {
    cursor: pointer;
}

.js-only {
    display: none;
}

@media (max-width: 799px) {
    .no-mobile {
        display: none;
    }
}

@media (min-width: 800px) {
    .only-mobile {
        display: none;
    }
}

.turbo-progress-bar {
    position: fixed;
    top: 0;

    height: 0.4rem;

    background: linear-gradient(to right, var(--color-teal12), var(--color-teal9));
}
