/* This file is part of Bileto. */
/* Copyright 2022-2023 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import "./_reset.css";
@import "./_colors.dark.css";
@import "./_colors.light.css";
@import "./_fonts.css";
@import "./utils/flow.css";
@import "./utils/grids.css";
@import "./utils/rows.css";
@import "./utils/text.css";
@import "./utils/wrapper.css";
@import "./components/alerts.css";
@import "./components/anchors.css";
@import "./components/badges.css";
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/icons.css";
@import "./components/images.css";
@import "./components/layout.css";
@import "./components/lists.css";
@import "./components/messages.css";
@import "./components/modal.css";
@import "./components/notifications.css";
@import "./components/organizations.css";
@import "./components/placeholders.css";
@import "./components/popups.css";
@import "./components/scroll-to-top.css";
@import "./components/sidebar.css";
@import "./components/spinners.css";
@import "./components/tables.css";
@import "./components/tickets.css";
@import "./components/timelines.css";
@import "./custom/login-new.css";
@import "./custom/tickets-show.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-grey12);
    font-family:
        "Atkinson Hyperlegible",
        system-ui,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    font-size: 200%;

    background: var(--color-grey2);
}

@media (min-width: 800px) {
    body {
        font-size: 225%;
    }
}

*:focus {
    outline: 0.3rem solid var(--color-primary9);
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

summary {
    cursor: pointer;
}

.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.js-only {
    display: none;
}

@media (max-width: 799px) {
    .no-mobile {
        display: none;
    }
}

@media (min-width: 800px) {
    .only-mobile {
        display: none;
    }
}

.accessibility-nav {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.accessibility-nav:focus {
    top: 1rem;
    left: 1rem;

    clip: auto;

    width: auto;
    height: auto;
}

.turbo-progress-bar {
    position: fixed;
    top: 0;

    height: 0.5rem;

    background: linear-gradient(to right, var(--color-primary7), var(--color-primary9));
}
