{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'emails/transactional.html.twig' %}

{% block title %}{{ subject }}{% endblock %}

{% block body %}
    <p>
        {{ 'emails.receipt.received' | trans({ ticketType: ticket.type }) }}
    </p>
{% endblock %}
