{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<p>
    {{ 'emails.receipt.hello' | trans }}
</p>

<p>
    {{ 'emails.receipt.received' | trans }}
</p>
