/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.list-contracts__organization {
    color: var(--color-primary12);
    text-decoration: none;
    text-transform: uppercase;
}
