/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.tickets-show .ticket__top {
    padding-bottom: 4rem;

    border-bottom: var(--width-border) solid var(--color-grey4);
}

@media (min-width: 800px) {
    .tickets-show .ticket__info {
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .tickets-show .ticket__info {
        width: 300px;
        margin-left: 10rem;
    }
}

.tickets-show .answer-button {
    display: flex;
}

.tickets-show .answer-button button[type="submit"] {
    flex: 1;
}

@media (min-width: 800px) {
    .tickets-show .answer-button {
        display: inline-flex;
    }

    .tickets-show .answer-button button[type="submit"] {
        min-width: 30rem;
    }
}
