/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.ticket__info-separator {
    height: 2px;

    background-color: var(--color-grey6);
}

.tickets-show .answer-button {
    display: flex;
}

.tickets-show .answer-button button[type="submit"] {
    flex: 1;
}

@media (min-width: 800px) {
    .tickets-show .answer-button {
        display: inline-flex;
    }

    .tickets-show .answer-button button[type="submit"] {
        min-width: 30rem;
    }
}
