/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.list-tickets__id {
    color: var(--color-primary12);
    font-weight: 700;
}

@media (min-width: 800px) {
    .list-tickets__id {
        min-width: 3rem;
    }
}

.list-tickets__organization {
    color: var(--color-primary12);
    text-decoration: none;
    text-transform: uppercase;
}

.ticket__info-separator {
    height: 2px;

    background-color: var(--color-grey6);
}

.tickets-show .answer__select-answer-type {
    width: auto;
}
