/* This file is part of Bileto. */
/* Copyright 2022-2026 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.list-tickets__item {
    display: grid;

    gap: var(--space-medium);

    grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 800px) {
    .list-tickets__item {
        gap: var(--space-larger);

        grid-template-columns: minmax(0, 7fr) minmax(0, 3fr) minmax(0, 2fr);
    }
}

.list-tickets__content {
    min-width: 0;
}

.list-tickets__id {
    color: var(--color-primary12);
    font-weight: 700;
}

.list-tickets__title {
    word-break: break-all;
}

.list-tickets__organization {
    color: var(--color-primary12);
    text-decoration: none;
    text-transform: uppercase;
    word-break: break-all;
}

.list-tickets__requester,
.list-tickets__assignee {
    word-break: break-all;
}

.list-tickets__badge {
    text-align: left;
    white-space: normal;
}

.ticket__info-separator {
    height: 2px;

    background-color: var(--color-grey6);
}

.tickets-show .answer__select-answer-type {
    width: auto;
}

.tickets-show .answer__solution-panel {
    position: relative;

    padding-right: calc(2.5rem + 1rem);

    background-color: var(--color-grey3);

    transition: background-color 0.2s ease-in-out;
}

.tickets-show .answer__solution-panel::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 1rem;

    display: inline-block;

    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;

    transform: translateY(-50%);
}

.tickets-show .answer__solution-panel:has(input[type="radio"][value="approve"]:checked) {
    background-color: var(--color-primary3);
}

.tickets-show .answer__solution-panel:has(input[type="radio"][value="approve"]:checked)::after {
    width: 2rem;
    height: 2rem;

    background-color: var(--color-primary9);
    mask-image: url("../../icons/check.svg");
}

.tickets-show .answer__solution-panel:has(input[type="radio"][value="refuse"]:checked) {
    background-color: var(--color-warning3);
}

.tickets-show .answer__solution-panel:has(input[type="radio"][value="refuse"]:checked)::after {
    width: 2.5rem;
    height: 2.5rem;

    background-color: var(--color-warning9);
    mask-image: url("../../icons/close.svg");
}

.contract-select input[type="hidden"],
.contract-select .ts-hidden-accessible {
    display: none;
}

.contract-select .ts-wrapper {
    position: relative;

    width: 100%;
}

.contract-select .ts-control {
    position: relative;

    overflow: hidden;

    display: flex;
    min-height: 2.5rem;
    padding: var(--form-padding-y) var(--form-padding-x);

    flex-wrap: nowrap;

    color: var(--form-color);

    background-color: var(--form-background-color);
    border: 1px solid var(--form-border-color);
    border-radius: var(--border-radius);
}

.contract-select .ts-control > .item {
    overflow: hidden;

    min-width: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.contract-select .ts-control:has(> input:not(:placeholder-shown)) > .item {
    display: none;
}

.contract-select .ts-control > input {
    min-width: 1rem;
    padding: 0;

    flex: 1;

    color: inherit;

    background: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
}

.contract-select .ts-wrapper.input-hidden .ts-control > input {
    position: absolute;
    left: -10000px;

    opacity: 0;
}

.contract-select .ts-wrapper.has-items .ts-control > input:placeholder-shown {
    flex: 0 0 1rem;
}

.contract-select .ts-dropdown {
    position: absolute;
    z-index: 10;

    width: 100%;
    margin-top: var(--space-small);

    color: var(--form-color);

    background-color: var(--form-background-color);
    border-color: var(--form-border-color);
}

.contract-select .option {
    padding: var(--space-small) var(--space-medium);
}

.contract-select .option.active {
    color: var(--color-primary12);

    background-color: var(--color-primary3);
}

.contract-select .ts-control:focus-within {
    border-color: var(--color-primary12);
    outline: 2px solid var(--color-primary12);
}

@media (min-width: 800px) {
    .tickets-show .ticket__timeline .timeline::before {
        --timeline-bar-top: 5rem;
    }
}
