/* This file is part of Bileto. */
/* Copyright 2022-2024 Probesys */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.ticket__info-separator {
    height: 2px;

    background-color: var(--color-grey6);
}

.tickets-show .answer__select-answer-type {
    width: auto;
    padding-top: var(--space-smaller);
    padding-bottom: var(--space-smaller);
}

.tickets-show .answer__input-time-spent {
    width: 6rem;
    padding-top: var(--space-smaller);
    padding-bottom: var(--space-smaller);
}
