{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% for field, changes in event.changes %}
    <div class="event" data-test="event-item">
        <div class="event__message">
            {{ 'tickets.events.default' | trans({
                username: event.createdBy.displayName | escape,
                field: ('tickets.' ~ field) | trans,
                oldValue: changes[0] | escape,
                newValue: changes[1] | escape,
            }) | raw }}
        </div>

        <time class="event__date" datetime="{{ event.createdAt | dateIso }}">
            {{ event.createdAt | dateTrans }}
        </time>
    </div>
{% endfor %}
