{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% for field in event.changes | keys %}
    {% set eventMessage = event | formatTicketChanges(field) %}

    {% if eventMessage %}
        <div class="timeline__event" data-test="event-item">
            <div class="timeline__event-message">
                {{ eventMessage | raw }}
            </div>

            <time class="timeline__event-date" datetime="{{ event.createdAt | dateIso }}">
                {{ event.createdAt | dateTrans('HH:mm') }}
            </time>
        </div>
    {% endif %}
{% endfor %}
