{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% for organization in organizations %}
    <li class="row" data-test="organization-item">
        <a class="anchor--noline" href="{{ path('organization', { uid: organization.uid }) }}">
            {% if parentName is defined %}
                <span class="text--secondary">
                    {{ parentName }}&nbsp;/
                </span>
            {% endif %}

            {{ organization.name }}
        </a>
    </li>

    {{ include(
        'organizations/_organizations_as_list.html.twig',
        {
            organizations: organization.subOrganizations,
            parentName: organization.name,
        },
        with_context = false
    ) }}
{% endfor %}
