{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if organizations %}
    <ul class="organizations-list">
        {% for organization in organizations %}
            <li class="organizations-list__item" data-test="organization-item">
                {% if mode == 'edit' %}
                    {% set url = path('edit organization', { uid: organization.uid }) %}
                {% else %}
                    {% set url = path('organization', { uid: organization.uid }) %}
                {% endif %}

                <a href="{{ url }}">
                    {{ organization.name }}
                </a>

                {{ include(
                    'organizations/_organizations_as_list.html.twig',
                    {
                        organizations: organization.subOrganizations,
                        mode: mode
                    },
                    with_context = false
                ) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
