{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

 <div class="breadcrumb">
     <ol class="breadcrumb__list">
        {% for parentOrganization in organization.parentOrganizations %}
            <li class="breadcrumb__item">
                {{ parentOrganization.name }}
            </li>
        {% endfor %}

        <li class="breadcrumb__item breadcrumb__item--active">
            {{ organization.name }}
        </li>
     </ol>
</div>
